name: Self-Healing Scheduler

on:
  schedule:
    - cron: "*/16 * * * *"  # every 16 minutes verifies that main job has run

permissions:
  actions: write
  contents: read

jobs:
  self-heal:
    runs-on: ubuntu-latest

    steps:
       - name: List Artifacts
         run: ls /opt
